@tailwind base;
@tailwind components;
@tailwind utilities;

.pixel {
    pointer-events: none;
    transition: opacity 0.3s ease-in, opacity 0.9s ease-out, box-shadow 0.3s ease-in-out;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.pixel:hover {
    transform: scale(1);
    opacity: 0.6 !important;
}

.pixel[style*="opacity: 0.4"] {
    box-shadow: 0 0 15px rgba(var(--pixel-color, 0, 174, 239), 0.2);
}

#pixel-animation {
    pointer-events: none;
}

#background-grid {
    border-r: 1px solid rgba(107, 114, 128, 0.15);
    border-b: 1px solid rgba(107, 114, 128, 0.15);
}

#background-grid > div {
    border-t: 1px solid rgba(107, 114, 128, 0.15);
    border-l: 1px solid rgba(107, 114, 128, 0.15);
}